html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  box-sizing: border-box;
}

.people {
  width: 430px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.person {
  width: 200px;
  margin-right: 30px;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
  z-index: 0;
}

.person:nth-child(2n) {
  margin-right: 0;
}

.photo img{
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.photo{
  position: relative;

  img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
  }
}

.rank {
  position: absolute;
  top: 84px;
  right: 10px;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  color: #8b0000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

@media (min-width:1000px) {
  .people {
    width: 890px;
  }
  .person{
    margin-right: 30px;
    margin-bottom: 40px;
  }
  .person:nth-child(2n){
    margin-right: 30px;
  }
  .person:nth-child(4n){
    margin-right: 0;
  }
}

.extra {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.name{
  display: block;
  margin-top: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #2f4f4f;
  line-height: 100%;
}

.person::before{
  content: "";
  position: absolute;
  width: 220px;
  height: 287px;
  top: -10px;
  left: -10px;
  background-color: #eee;
  border-radius: 4px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.person:hover::before{
  opacity: 1;
}

.extra {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
}

.person:hover{
  z-index: 10;
}

.person:hover .extra {
  opacity: 1;
  visibility: visible;
}